nav 
{ 
background-color: black;
}

nav ul
{
text-align: center;
font-size: 1.2em;    
}

nav ul li
{
    list-style-type: none;
    background-color: #2b794c;
    display: inline;
}

nav ul li a
{
    color: white;
    text-decoration: none;
    
}

nav 
{
    padding: 5px;
    
}

nav ul li
{
    
    padding: 15px;
    margin: 5px;
    border: 2px solid #ffd800;
    border-radius: 12px;
}
nav ul li:hover 
{
    background-color: #5c1717;
}
aside {
    border: 2px solid #1C6E8C;
    border-radius: 10px;
    width: 150px;
    float: right;
    color: white;
    border-radius: 10px;
    background: #9FA2B2;
    margin: 10px;
    margin-left: 85%;
    padding: 10px;
    position:fixed;
    
}

aside ul li a {
    color: blue;
    text-decoration: none;
}

aside ul li {
    list-style-type: none;
}

aside ol li {
    list-style-type: none;
}
header
{
    background-color: rgb(193, 220, 240);
    padding: 50px;
}
#active

{
    border-color: #21b1f0;
}

h2
{
    text-align: center;
  

}
mark
{
background-color: rgba(248, 248, 248, 0.74);    
}
p
{
    text-align: justify;
   
}
body
{
    font-family: verdana;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.team
{
    
}

footer {
    clear: both;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #9FA2B2;
    text-align: center;
    border: 2px solid #1C6E8C;
    border-radius: 10px;
}

footer p {
    text-align: center;
    color: white;
}

#first {
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 80%;
    height: 300px;
    
}

#team {
    width: 250px;
    height: 250px;
    float: left;
    margin: 15px;
    
}

#text {
    text-align: justify;
    margin-right: 50px;
}

#meet {
    margin: 20px;
}

#team2 {
    width: 50%;
    height: 60%;
}


.col {
    column-count: 2;
    column-rule: 2px solid white;
    column-gap: 50px;
    column-width: 10px;
    column-span: all;
    padding: 10px;
    float: left;
    border: 5px solid black;
    border-radius: 10px;
    margin: 15px;
}

#amjad {
    width: 250px;
    height: 300px;
    margin: 20px;
}

#Mission {
    border: 5px solid black;
    border-radius: 10px;
    margin: 15px;
}

.S {
    column-count: 2;
column-gap: 50px;

column-rule:2px solid black;
padding: 2px;
    border: 3px solid black;

}
.F
{
    background-color: aliceblue;
    margin-left:25%;
    margin-right: 25%;
    border: 2px solid black;
    padding: 5px;
}
.map
{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
      
}

table
{
width: 60%;
border: 1px solid black;
background-color: #a2d6a2;
border-collapse: collapse;
font-size: 20px;
margin: 0px;
}
th{
background-color: lightcyan;
}
th,tr,td{
border: 1px solid black;
text-align: center;

}



caption {
background-color:#a2d6a2;
}

